<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Coaches</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/HeaderGymLogo2.png" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,700%7CArvo:400,700">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative;
    z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42"
    width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
    <div class="page">
        <main class="page-content" id="perspective">
            <div class="content-wrapper">
                <div class="page-header page-header-perspective">
                    <div class="page-header-left"><a class="brand" href="index.html"><img src="images/HorezntalBlueGymLogo.png" alt="" width="200" height="51" /></a></div>
                    <div class="page-header-right">
                        <div id="perspective-open-menu" data-custom-toggle=".perspective-menu-toggle" data-custom-toggle-hide-on-blur="true">
                            <span class="perspective-menu-text">Menu</span>
                            <button class="perspective-menu-toggle"><span></span></button>
                        </div>
                    </div>
                </div>
                <div id="wrapper">
                    <div class="page-Coaches-title">
                        <div class="page-title-content">
                            <div class="shell">
                                <p class="page-title-header">Coaches</p>
                            </div>
                        </div>
                    </div>
                    <div class="shop-panel">
                        <div class="shell">
                            <div class="shop-panel-inner" style="padding : 0 50px 0 50px">
                                <div class="shop-panel-left"> <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Add Coach +</span></a></div>
                                <div class="shop-panel-right">
                                    <div class="shop-panel-select">
                                        <span class="shop-panel-select-title">Sort By</span>
                                        <select class="form-control select-filter" data-minimum-results-for-search="Infinity" data-custom-theme="modern">
                                            <option value="3">All</option>
                                            <option value="4">Alphabetic</option>
                                            <option value="5">Subscription Expiration(Nearest to Farthest)</option>
                                            <option value="6">Subscription Expiration(Far to Near)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="section-md bg-periglacial-blue text-center">
                        <div class="shell">
                            <div class="range range-30">
                                <div class="cell-sm-6 cell-md-4">
                                    <article class="product">
                                        <a class="product-image" href="single-product.html"><img src="images/Coach1.jpg" alt="" width="160" height="160" style="border-radius:160px" /></a>
                                        <p class="product-title"><a href="single-product.html">Ahmad</a></p>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Edit</span></a>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px; background-color:red">Delete</span></a>
                                    </article>
                                </div>
                                <div class="cell-sm-6 cell-md-4">
                                    <article class="product">
                                        <a class="product-image" href="single-product.html"><img src="images/Coach2.jpg" alt="" width="160" height="160" style="border-radius:160px" /></a>
                                        <p class="product-title"><a href="single-product.html">Samer</a></p>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Edit</span></a>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px; background-color:red">Delete</span></a>
                                    </article>
                                </div>
                                <div class="cell-sm-6 cell-md-4">
                                    <article class="product">
                                        <a class="product-image" href="single-product.html"><img src="images/Coach3.webp" alt="" width="160" height="160" style="border-radius:160px" /></a>
                                        <p class="product-title"><a href="single-product.html">Mamoon</a></p>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Edit</span></a>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px; background-color:red">Delete</span></a>
                                    </article>
                                </div>
                                <div class="cell-sm-6 cell-md-4">
                                    <article class="product">
                                        <a class="product-image" href="single-product.html"><img src="images/Coach4.jpg" alt="" width="160" height="160" style="border-radius:160px" /></a>
                                        <p class="product-title"><a href="single-product.html">Yazan</a></p>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Edit</span></a>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px; background-color:red">Delete</span></a>
                                    </article>
                                </div>
                                <div class="cell-sm-6 cell-md-4">
                                    <article class="product">
                                        <a class="product-image" href="single-product.html"><img src="images/Coach5.png" alt="" width="160" height="160" style="border-radius:160px" /></a>
                                        <p class="product-title"><a href="single-product.html">Morad</a></p>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Edit</span></a>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px; background-color:red">Delete</span></a>
                                    </article>
                                </div>
                                <div class="cell-sm-6 cell-md-4">
                                    <article class="product">
                                        <a class="product-image" href="single-product.html"><img src="images/Coach6.jpg" alt="" width="160" height="160" style="border-radius:160px" /></a>
                                        <p class="product-title"><a href="single-product.html">Karam</a></p>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px">Edit</span></a>
                                        <a class="btn-shop" href="cart.html"><span class="btn-shop-text" style="border-radius:50px; background-color:red">Delete</span></a>
                                    </article>
                                </div>
                            </div>
                            <ul class="pagination-custom">
                                <li class="disabled"><a href="#"></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="ellipsis">...</li>
                                <li><a href="#">12</a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </section>

                    <footer class="page-footer page-footer-default">
                        <div class="shell">
                            <div class="range range-xs-center">
                                <div class="cell-lg-10">
                                    <a class="brand" href="index.html"><img src="images/logo-default-dark-200x36.png" alt="" width="200" height="36" /></a>

                                    <ul class="footer-navigation footer-navigation-horizontal">
                                        <li><a href="index.html">Home</a></li>
                                        <li class="active"><a href="index.html">Gym</a></li>
                                        <li><a href="blog.html">Stores</a></li>
                                        <li><a href="about.html">Services</a></li>
                                        <li><a href="services.html">News</a></li>
                                        <li><a href="contacts-1.html">Categories</a></li>
                                    </ul>
                                    <div class="divider divider-small divider-light block-centered"></div>
                                    <ul class="inline-list inline-list-md">
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="https://www.facebook.com/profile.php?id=100095431091289&mibextid=ZbWKwL"></a></li>
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-instagram" href="https://www.instagram.com/smartuse.jo?igsh=NTc4MTIwNjQ2YQ=="></a></li>
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="https://www.youtube.com/channel/UCGGIbazUcR6FKqUtSdhJz_w"></a></li>
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-linkedin" href="https://www.linkedin.com/company/smartusejo/"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <div id="perspective-content-overlay"></div>
            </div>
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed"
                     data-md-layout="rd-navbar-sidebar" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-sidebar" data-stick-up-clone="false">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-default-dark-200x36.png" alt="" width="200" height="36" /></a></div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-nav-inner">
                                <ul class="rd-navbar-nav">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active"><a href="index.html">Gym</a></li>
                                    <li><a href="blog.html">Stores</a></li>
                                    <li><a href="about.html">Services</a></li>
                                    <li><a href="services.html">News</a></li>
                                    <li><a href="contacts-1.html">Categories</a></li>
                                </ul>
                                <div class="rd-navbar-nav-footer">
                                    <ul class="inline-list inline-list-md">
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="https://www.facebook.com/profile.php?id=100095431091289&mibextid=ZbWKwL"></a></li>
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-instagram" href="https://www.instagram.com/smartuse.jo?igsh=NTc4MTIwNjQ2YQ=="></a></li>
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="https://www.youtube.com/channel/UCGGIbazUcR6FKqUtSdhJz_w"></a></li>
                                        <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-linkedin" href="https://www.linkedin.com/company/smartusejo/"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </main>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>