<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/HeaderGymLogo2.png" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,700%7CArvo:400,700">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">


    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-woox-travel.css">
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>
<body>
    <div class="page">
        <header class="page-header">
            <div class="rd-navbar-wrap" style="flex-direction:row;display:flex; justify-content:center">
                <img class="rd-navbar-nav" src="images/GymLogo.png.png" alt="" style="max-width:200px ; max-height:200px; margin-top:-20px" />
                <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="true" data-md-stick-up-offset="140px" data-lg-stick-up-offset="140px">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" style="margin-top:6.5px;"><img src="images/menu.png" alt="" style="max-width:30px ; max-height:30px" /></button>
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="index.html">
                                    <div class="brand-mobile" style="width:200px; height:51px ;padding-top:6.5px">
                                        <img src="images/logo-default-dark-200x36.png" alt="" style="width:150px; height:38px" />
                                    </div>
                                    @* <div class="brand-desktop">
                                    <img src="images/GymLogo.png.png" alt="" style="max-width:300px ; max-height:300px" />
                                    </div> *@
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap" style="max-width:100% ; min-width:250px">
                            <div class="rd-navbar-nav-inner" style="max-width:100% ; min-width:250px">
                                <ul class="rd-navbar-nav">
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="index.html">Users</a>
                                        @*    <ul class="rd-navbar-megamenu">
                                        <li>
                                        <p class="rd-megamenu-header"><a href="index.html">Gym</a></p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="home-variant-2.html">Home variant 2</a></li>
                                        <li><a href="home-variant-3.html">Home variant 3</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header"><a href="about.html">Store</a></p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="barbers.html">barbers</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Contact Us</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="contacts-1.html">Contacts 1</a></li>
                                        <li><a href="contacts-2.html">Contacts 2</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header"><a href="services.html">Services</a></p>
                                        </li>
                                        <li>
                                        <p class="rd-megamenu-header">Book</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="step-1.html">Step 1</a></li>
                                        <li><a href="step-2.html">Step 2</a></li>
                                        <li><a href="step-3.html">Step 3</a></li>
                                        <li><a href="step-4.html">Step 4</a></li>
                                        <li><a href="finish.html">Finish</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Blog</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="single-post.html">Single post</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header"><a href="shop.html">Shop</a></p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="single-product.html">Single product</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                        </li>
                                        <li>
                                        <p class="rd-megamenu-header">Pages</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="404-page.html">404 page</a></li>
                                        <li><a href="503-page.html">503 page</a></li>
                                        <li><a href="maintenance.html">Maintenance</a></li>
                                        <li><a href="coming-soon.html">Coming soon</a></li>
                                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Layouts</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="header-perspective.html">Header perspective</a></li>
                                        <li><a href="header-transparent.html">Header transparent</a></li>
                                        <li><a href="header-fullwidth.html">Header fullwidth</a></li>
                                        </ul>
                                        </li>
                                        <li>
                                        <p class="rd-megamenu-header">Layouts</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="footer-default.html">Footer default</a></li>
                                        <li><a href="footer-variant-2.html">Footer variant 2</a></li>
                                        <li><a href="footer-variant-3.html">Footer variant 3</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Additional</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="buttons.html">Buttons</a></li>
                                        <li><a href="forms.html">Forms</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="progress-bars.html">Progress Bars</a></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                        </ul>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="about.html">Store</a>
                                        @*  <ul class="rd-navbar-dropdown">
                                        <li>
                                        <a href="barbers.html">barbers</a>
                                        </li>
                                        <li>
                                        <a href="testimonials.html">Testimonials</a>
                                        </li>
                                        <li>
                                        <a href="faq.html">FAQ</a>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="services.html">Classes</a>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="blog.html">PT</a>
                                        @*  <ul class="rd-navbar-dropdown">
                                        <li>
                                        <a href="single-post.html">Single post</a>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="shop.html">News</a>
                                        @* <ul class="rd-navbar-dropdown">
                                        <li>
                                        <a href="single-product.html">Single product</a>
                                        </li>
                                        <li>
                                        <a href="cart.html">Cart</a>
                                        </li>
                                        <li>
                                        <a href="checkout.html">Checkout</a>
                                        </li>
                                        </ul> *@
                                    </li>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="#">Coach</a>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="#Dashboardsection">Dashboard</a>
                                    <li style="min-width:100px;max-width:220px">
                                            @* <a href="#">Profile</a> *@
                                        <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-user" style="font-size:25px; display:flex ; align-items:center ; justify-content:center"></a>
                                        <ul class="rd-navbar-dropdown" style="border:1.5px solid rgb(1,137,255,.5);  border-radius:0 20px 0 20px">
                                            <li>
                                                <p style="font-size: 16px ; color:#0189FF">superadmin@ss.com</p>
                                            </li>
                                            <li>
                                                <a href="#">Profile</a>
                                            </li>
                                            <li>
                                                <a href="#">Notifications</a>
                                            </li>
                                            <li>
                                                <a href="#">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </header>
        <section class="section-xl bg-periglacial-blue text-center">
            <div id="slider-wrapper" style="border-radius:20px">
                <div class="inner-wrapper" style="border-radius:20px">
                    <input checked type="radio" name="slide" class="control" id="Slide1" />
                    <label for="Slide1" id="s1"></label>
                    <input type="radio" name="slide" class="control" id="Slide2" />
                    <label for="Slide2" id="s2"></label>
                    <input type="radio" name="slide" class="control" id="Slide3" />
                    <label for="Slide3" id="s3"></label>
                    <input type="radio" name="slide" class="control" id="Slide4" />
                    <label for="Slide4" id="s4"></label>
                    <div class="overflow-wrapper" style="border-radius:20px">
                        <a class="slide" href="" style="border-radius:20px">
                            <img src="~/Images/victor-freitas-WvDYdXDzkhs-unsplash.jpg" style="border-radius:20px" />
                            <img src="~/Images/victor-freitas-Pnm-9vBEQhk-unsplash.jpg" style="border-radius:20px" />
                            <img src="~/Images/victor-freitas-KkYWWpurqbE-unsplash.jpg" style="border-radius:20px" />
                            <img src="~/Images/anastase-maragos-FP7cfYPPUKM-unsplash.jpg" style="border-radius:20px" />
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <section class="section-xl bg-periglacial-blue text-center" id="Dashboardsection">
            <div class="shell">
                <div class="range range-sm-center range-75">
                    <div class="cell-xs-12">
                        <h2>Dashboard</h2>
                        <div class="p text-width-medium">
                            <p class="big">These statistics are the best way to learn more about your progress.</p>
                        </div>
                    </div>
                    <div class="cell-xs-12">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-carousel-modern owl-style-1" data-items="1" data-stage-padding="0" data-loop="true" data-margin="20" data-xs-margin="30"
                             data-mouse-drag="true" data-nav="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut">
                            <div class="item">
                                <script src="https://code.highcharts.com/highcharts.js"></script>
                                <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                <figure class="highcharts-figure">
                                    <div id="container1"></div>
                                    <p class="highcharts-description">

                                    </p>
                                </figure>
                                <script>
                                    Highcharts.chart('container1', {
                                        chart: {
                                            type: 'pie',
                                            custom: {},
                                            events: {
                                                render() {
                                                    const chart = this,
                                                        series = chart.series[0];
                                                    let customLabel = chart.options.chart.custom.label;

                                                    if (!customLabel) {
                                                        customLabel = chart.options.chart.custom.label =
                                                            chart.renderer.label(
                                                                'Number of players<br/>' +
                                                                '<strong>1186</strong>'
                                                            )
                                                                .css({
                                                                    color: '#000',
                                                                    textAnchor: 'middle'
                                                                })
                                                                .add();
                                                    }

                                                    const x = series.center[0] + chart.plotLeft,
                                                        y = series.center[1] + chart.plotTop -
                                                            (customLabel.attr('height') / 2);

                                                    customLabel.attr({
                                                        x,
                                                        y
                                                    });
                                                    // Set font size based on chart diameter
                                                    customLabel.css({
                                                        fontSize: `${series.center[2] / 12}px`
                                                    });
                                                }
                                            }
                                        },
                                        accessibility: {
                                            point: {
                                                valueSuffix: '%'
                                            }
                                        },
                                        title: {
                                            text: 'The percentage of players present in the gym over a period of time'
                                        },
                                        tooltip: {
                                            pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
                                        },
                                        legend: {
                                            enabled: false
                                        },
                                        plotOptions: {
                                            series: {
                                                allowPointSelect: true,
                                                cursor: 'pointer',
                                                borderRadius: 8,
                                                dataLabels: [{
                                                    enabled: true,
                                                    distance: 20,
                                                    format: '{point.name}'
                                                }, {
                                                    enabled: true,
                                                    distance: -15,
                                                    format: '{point.percentage:.0f}%',
                                                    style: {
                                                        fontSize: '0.9em'
                                                    }
                                                }],
                                                showInLegend: true
                                            }
                                        },
                                        series: [{
                                            name: 'Registrations',
                                            colorByPoint: true,
                                            innerSize: '75%',
                                            data: [{
                                                name: 'First period',
                                                y: 23.9
                                            }, {
                                                name: 'Second period',
                                                y: 12.6
                                            }, {
                                                name: 'Third period',
                                                y: 37.0
                                            }, {
                                                name: 'Fourth period',
                                                y: 26.4
                                            }]
                                        }]
                                    });

                                </script>
                            </div>
                            <div class="item">
                                <div style="padding-left: 5%;padding-right:5%;">
                                    <div style="max-width: 100%;">
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <figure class="highcharts-figure">
                                            <div id="container2"></div>
                                            <p class="highcharts-description">

                                            </p>
                                        </figure>
                                        <script>
                                            Highcharts.chart('container2', {
                                                chart: {
                                                    type: 'column'
                                                },
                                                title: {
                                                    text: 'Number of new subscribers for each month of this year'
                                                },
                                                xAxis: {
                                                    type: 'category',
                                                    labels: {
                                                        autoRotation: [-45, -90],
                                                        style: {
                                                            fontSize: '13px',
                                                            fontFamily: 'Verdana, sans-serif'
                                                        }
                                                    }
                                                },
                                                yAxis: {
                                                    min: 0,
                                                    title: {
                                                        text: 'Number of subscriptions'
                                                    }
                                                },
                                                legend: {
                                                    enabled: false
                                                },
                                                tooltip: {
                                                    pointFormat: '<b>{point.y} New subscription</b>'
                                                },
                                                series: [{
                                                    name: 'Population',
                                                    colors: [
                                                        '#9b20d9', '#9215ac', '#861ec9', '#7a17e6', '#7010f9', '#691af3',
                                                        '#6225ed', '#5b30e7', '#533be1', '#4c46db', '#4551d5', '#3e5ccf',
                                                    ],
                                                    colorByPoint: true,
                                                    groupPadding: 0,
                                                    data: [
                                                        ['Jan', 7],
                                                        ['Feb', 11],
                                                        ['Mar', 7],
                                                        ['Apr', 22],
                                                        ['May', 35],
                                                        ['Jun', 32],
                                                        ['Jul', 40],
                                                        ['Ogs', 15],
                                                        ['Sep', 10],
                                                        ['Oct', 11],
                                                        ['Nov', 15],
                                                        ['Des', 16],
                                                    ],
                                                    dataLabels: {
                                                        enabled: true,
                                                        rotation: -90,
                                                        color: '#FFFFFF',
                                                        inside: true,
                                                        verticalAlign: 'top',
                                                        format: '{point.y}', // one decimal
                                                        y: 10, // 10 pixels down from the top
                                                        style: {
                                                            fontSize: '13px',
                                                            fontFamily: 'Verdana, sans-serif'
                                                        }
                                                    }
                                                }]
                                            });

                                        </script>



                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div style="padding-left: 5%;padding-right:5%;">
                                    <div style="max-width: 100%;">
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/variwide.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <figure class="highcharts-figure">
                                            <div id="container3"></div>
                                            <p class="highcharts-description">

                                            </p>
                                        </figure>
                                        <script>
                                            Highcharts.chart('container3', {

                                                chart: {
                                                    type: 'variwide'
                                                },

                                                title: {
                                                    text: 'Number of private reservations'
                                                },
                                                xAxis: {
                                                    type: 'category'
                                                },
                                                legend: {
                                                    enabled: false
                                                },

                                                series: [{
                                                    name: 'Labor Costs',
                                                    data: [
                                                        ['Haytham', 50, 335504],
                                                        ['Yazan', 42, 277339],
                                                        ['Morad', 39.2, 421611],
                                                        ['Mamoon', 38, 462057],
                                                    ],
                                                    dataLabels: {
                                                        enabled: true,
                                                        format: '{point.y}'
                                                    },
                                                    tooltip: {
                                                        pointFormat: 'Private reservations: <b>{point.y}</b><br>'
                                                    },
                                                    borderRadius: 3,
                                                    colorByPoint: true
                                                }]

                                            });

                                        </script>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="page-footer page-footer-variant-3">
            <div class="shell">
                <div class="range range-50">
                    <div class="cell-sm-6 cell-md-4">
                        <h3>Pages</h3>
                        <div class="divider divider-conch"></div>
                        <ul class="footer-navigation row footer-navigation-vertical" style="max-width: 390px;">
                            <li class="col-xs-6"><a href="index.html">Users</a></li>
                            <li class="col-xs-6"><a href="blog.html">Store</a></li>
                            <li class="col-xs-6"><a href="about.html">Classes</a></li>
                            <li class="col-xs-6"><a href="shop.html">PT</a></li>
                            <li class="col-xs-6"><a href="services.html">News</a></li>
                            <li class="col-xs-6"><a href="contacts-1.html">Coach</a></li>
                            <li class="col-xs-6"><a href="#Dashboardsection">Dashboard</a></li>
                        </ul>
                    </div>
                    <div class="cell-sm-6 cell-md-5">
                        <h3>Description</h3>
                        <div class="divider divider-conch"></div>
                        <div class="text-highlighted-wrap">
                            <p class="text-highlighted">Barbershop is a No.1 place to have a men’s haircut in San Francisco. Here you can get luxury barber experience at a reasonable price.</p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <h3>Follow Us</h3>
                        <div class="divider divider-conch"></div>
                        <ul class="inline-list inline-list-xs">
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="https://www.facebook.com/profile.php?id=100095431091289&mibextid=ZbWKwL"></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-instagram" href="https://www.instagram.com/smartuse.jo?igsh=NTc4MTIwNjQ2YQ=="></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="https://www.youtube.com/channel/UCGGIbazUcR6FKqUtSdhJz_w"></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-linkedin" href="https://www.linkedin.com/company/smartusejo/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade text-center" id="modalWindow" role="dialog">
        <div class="modal-dialog custom-modal-dialog">
            <div class="custom-modal-content">
                <button class="close" type="button" data-dismiss="modal"></button>
                <div class="shell">
                    <div class="box-portfolio">
                        <img class="box-portfolio-image" src="images/barbers-single-1-130x130.jpg" alt="" width="130" height="130" />
                        <p class="box-portfolio-header">simon wilson</p>
                        <div class="box-portfolio-text">
                            <p>Simon Wilson founded Barbershop in 2003 at the age of 23. He decided to establish a place where the long standing traditions of American barbering could be saved. He kept Barbershop a true place for men, their fathers, and sons, rather than converting it to a unisex salon as was the popular trend at the time. Over the past 13 years, Mr. Wilson has grown his shop from a small, local spot to a nationally and internationally recognized standard in the industry. Simon has been the recipient of various accolades including the HYPE Award for Entrepreneurs and the Hartford Business Journal's 40 Under Forty (Class of 2014). He can be found at the shop on Wednesdays and Fridays.</p>
                        </div>
                        <ul class="inline-list inline-list-md">
                            <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                            <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    @*  <div id="js-preloader" class="js-preloader" style="background-image: url('images/bg-01.jpg'); background-size: 100%; opacity: revert; ">
    <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
    <span></span>
    <span></span>
    <span></span>
    </div>
    </div>
    </div> *@
</body>
</html>
<style>

    #slider-wrapper {
        width: 940px;
        height: 470px;
        margin: 50px auto;
        position: relative;
        margin-bottom: 0px;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    #s1 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: -36px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

    #s2 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: -12px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

    #s3 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: 12px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

    #s4 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: 36px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

        #s1:hover,
        #s2:hover,
        #s3:hover,
        #s4:hover {
            opacity: .50;
        }

    .inner-wrapper {
        width: 940px;
        height: 470px;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0px;
        overflow: hidden;
    }

    .control {
        display: none;
    }

    #Slide1:checked ~ .overflow-wrapper {
        margin-left: 0%;
    }

    #Slide2:checked ~ .overflow-wrapper {
        margin-left: -100%;
    }

    #Slide3:checked ~ .overflow-wrapper {
        margin-left: -200%;
    }

    #Slide4:checked ~ .overflow-wrapper {
        margin-left: -300%;
    }

    #Slide1:checked + #s1 {
        opacity: 1;
    }

    #Slide2:checked + #s2 {
        opacity: 1;
    }

    #Slide3:checked + #s3 {
        opacity: 1;
    }

    #Slide4:checked + #s4 {
        opacity: 1;
    }

    .overflow-wrapper {
        width: 400%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: hidden;
        z-index: 1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .slide img {
        width: 25%;
        float: left;
    }










    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 660px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }



    #container2 {
        height: 400px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }






    #container3 {
        height: 500px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 900px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

</style>