@{
    ViewData["Title"] = "Home Page";
}

<div class="top-bar d-flex justify-content-between align-items-center pt-4 px-2">
    <div class="text-start ps-4">
        <p>Dashboard</p>
    </div>

</div>
<div class="px-3 my-5 container">
    <p class="fs-4 fw-bold">Dashboard</p>

</div>

