<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/HeaderGymLogo2.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <div style="display: flex; justify-content: center; align-items: center; height: 300px;">
                        <img src="images/GymLogoWhite.png" alt="" />
                    </div>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Reset password
                        <p class="login100-form-title-tow p-b-34 p-t-27">
                            Please enter your new password
                        </p>
                    </span>
                    <div style="flex-direction:row;display:flex; justify-content:space-between">
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="pass" id="Password" placeholder="Password" oninput="checkPassword()">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; height:50px ; width:50px">
                            <button id="PasswordShowBtn" onclick="showPassword()">
                                <img id="PasswordShowImg" style="width:60% ; height:60%" />
                            </button>
                        </div>
                    </div>
                    <div style="flex-direction:row;display:flex; justify-content:space-between">
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="pass" id="ConfermPassword" placeholder="Conferm Password" oninput="checkPassword()">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center; height:50px ; width:50px">
                            <button id="ConfermPasswordShowBtn " onclick="showConfermPassword()">
                                <img id="ConfermPasswordShowImg" style="width:60% ; height:60%" />
                            </button>
                        </div>
                    </div>
                    <div style="height:75px">
                        <p id="wrongPassword" class="login100-form-title-wrong p-b-34 p-t-27">
                            Password not match !
                        </p>
                    </div>
                    <div class="container-login100-form-btn">
                        <button id="ResaetPassword" onclick="submitOTP()">
                            Reset password
                        </button>

                    </div>
                    <script>
                        window.onload = onloadpage();
                        function onloadpage() {
                            document.getElementById('PasswordShowImg').src = "/Images/icons/hidePassword.png";
                            document.getElementById('ConfermPasswordShowImg').src = "/Images/icons/hidePassword.png";
                            document.getElementById('ResaetPassword').disabled = true;
                            document.getElementById('ResaetPassword').className = 'login100-form-btn-desabled';
                        }
                        function checkPassword() {
                            if (document.getElementById('Password').value !== "" && document.getElementById('Password').value !== null &&
                                document.getElementById('ConfermPassword').value !== "" && document.getElementById('ConfermPassword').value !== null
                            ) {
                                if (document.getElementById('ConfermPassword').value === document.getElementById('Password').value) {
                                    document.getElementById('ResaetPassword').disabled = false;
                                    document.getElementById('ResaetPassword').className = 'login100-form-btn';
                                    document.getElementById('wrongPassword').style.display = 'none';
                                }
                                else {
                                    document.getElementById('ResaetPassword').disabled = true;
                                    document.getElementById('ResaetPassword').className = 'login100-form-btn-desabled';
                                    document.getElementById('wrongPassword').style.display = 'block';
                                }
                            }
                            else {
                                document.getElementById('ResaetPassword').disabled = true;
                                document.getElementById('ResaetPassword').className = 'login100-form-btn-desabled';
                                document.getElementById('wrongPassword').style.display = 'none';
                            }
                        }
                        function showPassword() {
                            if (document.getElementById('Password').type === 'password') {
                                document.getElementById('Password').type = 'text';
                                document.getElementById('PasswordShowImg').src = '/Images/icons/viewPassword.png';
                            }
                            else {
                                document.getElementById('PasswordShowImg').src = '/Images/icons/hidePassword.png';
                                document.getElementById('Password').type = 'password';
                            }
                        }
                        function showConfermPassword() {
                            if (document.getElementById('ConfermPassword').type === 'password') {
                                document.getElementById('ConfermPassword').type = 'text';
                                document.getElementById('ConfermPasswordShowImg').src = '/Images/icons/viewPassword.png';
                            }
                            else {
                                document.getElementById('ConfermPasswordShowImg').src = '/Images/icons/hidePassword.png';
                                document.getElementById('ConfermPassword').type = 'password';
                            }
                        }

                    </script>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>