<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/HeaderGymLogo2.png" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,700%7CArvo:400,700">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">


    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-woox-travel.css">
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.3/countUp.min.js"></script>

</head>
<body>
    <div class="page">
        <header class="page-header">
            <div class="rd-navbar-wrap" style="flex-direction:row;display:flex; justify-content:center">
                <img class="rd-navbar-nav" src="images/GymLogo.png.png" alt="" style="max-width:200px ; max-height:200px; margin-top:-20px" />
                <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="true" data-md-stick-up-offset="140px" data-lg-stick-up-offset="140px">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" style="margin-top:6.5px;"><img src="images/menu.png" alt="" style="max-width:30px ; max-height:30px" /></button>
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="index.html">
                                    <div class="brand-mobile" style="width:200px; height:51px ;padding-top:6.5px">
                                        <img src="images/logo-default-dark-200x36.png" alt="" style="width:150px; height:38px" />
                                    </div>
                                    @* <div class="brand-desktop">
                                    <img src="images/GymLogo.png.png" alt="" style="max-width:300px ; max-height:300px" />
                                    </div> *@
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap" style="max-width:100% ; min-width:250px">
                            <div class="rd-navbar-nav-inner" style="max-width:100% ; min-width:250px">
                                <ul class="rd-navbar-nav">
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="index.html">Gym</a>
                                        @*    <ul class="rd-navbar-megamenu">
                                        <li>
                                        <p class="rd-megamenu-header"><a href="index.html">Gym</a></p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="home-variant-2.html">Home variant 2</a></li>
                                        <li><a href="home-variant-3.html">Home variant 3</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header"><a href="about.html">Store</a></p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="barbers.html">barbers</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Contact Us</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="contacts-1.html">Contacts 1</a></li>
                                        <li><a href="contacts-2.html">Contacts 2</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header"><a href="services.html">Services</a></p>
                                        </li>
                                        <li>
                                        <p class="rd-megamenu-header">Book</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="step-1.html">Step 1</a></li>
                                        <li><a href="step-2.html">Step 2</a></li>
                                        <li><a href="step-3.html">Step 3</a></li>
                                        <li><a href="step-4.html">Step 4</a></li>
                                        <li><a href="finish.html">Finish</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Blog</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="single-post.html">Single post</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header"><a href="shop.html">Shop</a></p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="single-product.html">Single product</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                        </li>
                                        <li>
                                        <p class="rd-megamenu-header">Pages</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="404-page.html">404 page</a></li>
                                        <li><a href="503-page.html">503 page</a></li>
                                        <li><a href="maintenance.html">Maintenance</a></li>
                                        <li><a href="coming-soon.html">Coming soon</a></li>
                                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Layouts</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="header-perspective.html">Header perspective</a></li>
                                        <li><a href="header-transparent.html">Header transparent</a></li>
                                        <li><a href="header-fullwidth.html">Header fullwidth</a></li>
                                        </ul>
                                        </li>
                                        <li>
                                        <p class="rd-megamenu-header">Layouts</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="footer-default.html">Footer default</a></li>
                                        <li><a href="footer-variant-2.html">Footer variant 2</a></li>
                                        <li><a href="footer-variant-3.html">Footer variant 3</a></li>
                                        </ul>
                                        <p class="rd-megamenu-header">Additional</p>
                                        <ul class="rd-megamenu-list">
                                        <li><a href="buttons.html">Buttons</a></li>
                                        <li><a href="forms.html">Forms</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="progress-bars.html">Progress Bars</a></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                        </ul>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="about.html">Store</a>
                                        @*  <ul class="rd-navbar-dropdown">
                                        <li>
                                        <a href="barbers.html">barbers</a>
                                        </li>
                                        <li>
                                        <a href="testimonials.html">Testimonials</a>
                                        </li>
                                        <li>
                                        <a href="faq.html">FAQ</a>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="services.html">Services</a>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="blog.html">Categories</a>
                                        @*  <ul class="rd-navbar-dropdown">
                                        <li>
                                        <a href="single-post.html">Single post</a>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="shop.html">News</a>
                                        @* <ul class="rd-navbar-dropdown">
                                        <li>
                                        <a href="single-product.html">Single product</a>
                                        </li>
                                        <li>
                                        <a href="cart.html">Cart</a>
                                        </li>
                                        <li>
                                        <a href="checkout.html">Checkout</a>
                                        </li>
                                        </ul> *@
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="#Dashboardsection">Dashboard</a>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        @* <a href="#">Profile</a> *@
                                        <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-user" style="font-size:25px; display:flex ; align-items:center ; justify-content:center"></a>
                                        <ul class="rd-navbar-dropdown" style="border:1.5px solid rgb(1,137,255,.5);  border-radius:0 20px 0 20px">
                                            <li>
                                                <p style="font-size: 16px ; color:#0189FF">superadmin@ss.com</p>
                                            </li>
                                            <li>
                                                <a href="#">Profile</a>
                                            </li>
                                            <li>
                                                <a href="#">Notifications</a>
                                            </li>
                                            <li>
                                                <a href="#">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </header>
        <section class="jumbotron-custom jumbotron-custom-3 bg-white bg-image bg-image-custom bg-image-center" style="background-image: url(images/home-three-1-1920x800.jpg);">
            <div class="jumbotron-custom-content text-center">
                <div class="shell" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                    <div class="range range-sm-center">
                        <div class="cell-sm-9 cell-md-8 cell-lg-7">
                            <h1>Your fitness companoin !</h1>
                            <p class="large"> Establish your new amazing look with Barbershop services! From haircuts to hot shaves, you can experience the best level of barbering in the area.</p>
                        </div>
                    </div>
                    <div class="info-bar" id="Statistics">
                        <div class="info-item">
                            <img src="~/Images/storeicon.png" alt="Territory Icon">
                            <h3>Gyms</h3>
                            <p id="gymCount">320</p>
                        </div>
                        <div class="info-item">
                            <img src="~/Images/storeicon.png" alt="Territory Icon">
                            <h3>Stores</h3>
                            <p id="storeCount">92</p>
                        </div>
                        <div class="info-item">
                            <img src="~/Images/HeaderGymLogo2.png" alt="Price Icon">
                            <h3>Players</h3>
                            <p id="playerCount">28820</p>
                        </div>
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var gymCountUp = new CountUp('gymCount', 0, 320);
                            var storeCountUp = new CountUp('storeCount', 0, 92);
                            var playerCountUp = new CountUp('playerCount', 0, 28820);

                            var waypoint = new Waypoint({
                                element: document.getElementById('Statistics'),
                                handler: function () {
                                    gymCountUp.start();
                                    storeCountUp.start();
                                    playerCountUp.start();

                                },
                                offset: '75%'
                            });
                        });
                    </script>
                </div>
            </div>
        </section>
        <section class="section-xl bg-periglacial-blue text-center" id="Dashboardsection">
            <div class="shell">
                <div class="range range-sm-center range-75">
                    <div class="cell-xs-12">
                        <h2>Dashboard</h2>
                        <div class="p text-width-medium">
                            <p class="big">These statistics are the best way to learn more about your progress.</p>
                        </div>
                    </div>
                    <div class="cell-xs-12">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-carousel-modern owl-style-1" data-items="1" data-stage-padding="0" data-loop="true" data-margin="20" data-xs-margin="30"
                             data-mouse-drag="true" data-nav="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut">
                            <div class="item">
                                <script src="https://code.highcharts.com/highcharts.js"></script>
                                <script src="https://code.highcharts.com/modules/variwide.js"></script>
                                <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                <figure class="highcharts-figure">
                                    <div id="Over20gymshaveplayers"></div>
                                    <p class="highcharts-description">

                                    </p>
                                </figure>
                                <script>
                                    Highcharts.chart('Over20gymshaveplayers', {

                                        chart: {
                                            type: 'variwide'
                                        },

                                        title: {
                                            text: 'Over 20 gyms have players'
                                        },

                                        // subtitle: {
                                        //     text: 'Source: <a href="http://ec.europa.eu/eurostat/web/' +
                                        //         'labour-market/labour-costs/main-tables">eurostat</a>'
                                        // },

                                        xAxis: {
                                            type: 'category'
                                        },

                                        // caption: {
                                        //     text: 'Column widths are proportional to GDP'
                                        // },

                                        legend: {
                                            enabled: false
                                        },

                                        series: [{
                                            name: 'Labor Costs',
                                            data: [
                                                ['Gym1', 1000, 335504],
                                                ['Gym2', 685, 277339],
                                                ['Gym3', 785.2, 421611],
                                                ['Gym4', 633, 462057],
                                                ['Gym5', 1350, 2228857],
                                                ['Gym6', 457, 702641],
                                                ['Gym7', 973, 215615],
                                                ['Gym8', 764, 3144050],
                                                ['Gym9', 911, 349344],
                                                ['Gym10', 821, 275567],
                                                ['Gym11', 769, 1672438],
                                                ['Gym12', 1342, 2366911],
                                                ['Gym13', 1647, 1113851],
                                                ['Gym14', 1758, 175887],
                                                ['Gym15', 1958, 184933],
                                                ['Gym16', 1744, 176564],
                                                ['Gym17', 1687, 424269],
                                                ['Gym18', 1436, 169578],
                                                ['Gym19', 736, 169578],
                                                ['Gym20', 1244, 169578]

                                            ],
                                            dataLabels: {
                                                enabled: true,
                                                format: '{point.y:.0f}'
                                            },
                                            tooltip: {
                                                pointFormat: '<b>{point.y}</b>'
                                            },
                                            borderRadius: 3,
                                            colorByPoint: true
                                        }]

                                    });
                                </script>
                            </div>
                            <div class="item">
                                <div style="padding-left: 5%;padding-right:5%;">
                                    <div style="max-width: 100%;">
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/series-label.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <figure class="highcharts-figure">
                                            <div id="Numberofsubscribersannually"></div>
                                            <p class="highcharts-description">

                                            </p>
                                        </figure>
                                        <script>
                                            Highcharts.chart('Numberofsubscribersannually', {
                                                chart: {
                                                    type: 'spline'
                                                },
                                                title: {
                                                    text: 'Number of subscribers annually'
                                                },
                                                // subtitle: {
                                                //     text: 'Source: ' +
                                                //         '<a href="https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature" ' +
                                                //         'target="_blank">Wikipedia.com</a>'
                                                // },
                                                xAxis: {
                                                    categories: [
                                                        '2024', '2025', '2026', '2027', '2028', '2029',
                                                        '2023', '2031', '2032', '2033', '2034', '2035'
                                                    ],
                                                    accessibility: {
                                                        description: 'Months of the year'
                                                    }
                                                },
                                                yAxis: {
                                                    title: {
                                                        text: 'Number of subscribers'
                                                    },
                                                    labels: {
                                                        format: '{number}'
                                                    }
                                                },
                                                tooltip: {
                                                    crosshairs: true,
                                                    shared: true
                                                },
                                                plotOptions: {
                                                    spline: {
                                                        marker: {
                                                            radius: 4,
                                                            lineColor: '#666666',
                                                            lineWidth: 1
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'Gyms',
                                                    marker: {
                                                        symbol: 'square'
                                                    },
                                                    data: [5.2, 5.7, 8.7, 13.9, 18.2, 21.4, 25.0, {
                                                        y: 26.4,
                                                        // marker: {
                                                        //     symbol: 'url(https://www.highcharts.com/samples/graphics/sun.png)'
                                                        // },
                                                        // accessibility: {
                                                        //     description: 'Sunny symbol, this is the warmest point in the ' +
                                                        //         'chart.'
                                                        // }
                                                    }, 22.8, 17.5, 12.1, 7.6]

                                                }, {
                                                    name: 'Stores',
                                                    marker: {
                                                        symbol: 'diamond'
                                                    },
                                                    data: [{
                                                        y: 1.5,
                                                        // marker: {
                                                        //     symbol: 'url(https://www.highcharts.com/samples/graphics/snow.png)'
                                                        // },
                                                        // accessibility: {
                                                        //     description: 'Snowy symbol, this is the coldest point in the ' +
                                                        //         'chart.'
                                                        // }
                                                    }, 1.6, 3.3, 5.9, 10.5, 13.5, 14.5, 14.4, 11.5, 8.7, 4.7, 2.6]
                                                }]
                                            });
                                        </script>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="page-footer page-footer-variant-3">
            <div class="shell">
                <div class="range range-50">
                    <div class="cell-sm-6 cell-md-4">
                        <h3>Pages</h3>
                        <div class="divider divider-conch"></div>
                        <ul class="footer-navigation row footer-navigation-vertical" style="max-width: 390px;">
                            <li class="col-xs-6"><a href="index.html">Gym</a></li>
                            <li class="col-xs-6"><a href="blog.html">Stores</a></li>
                            <li class="col-xs-6"><a href="about.html">Services</a></li>
                            <li class="col-xs-6"><a href="shop.html">Notifications</a></li>
                            <li class="col-xs-6"><a href="services.html">News</a></li>
                            <li class="col-xs-6"><a href="contacts-1.html">Categories</a></li>
                        </ul>
                    </div>
                    <div class="cell-sm-6 cell-md-5">
                        <h3>Description</h3>
                        <div class="divider divider-conch"></div>
                        <div class="text-highlighted-wrap">
                            <p class="text-highlighted">Barbershop is a No.1 place to have a men’s haircut in San Francisco. Here you can get luxury barber experience at a reasonable price.</p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <h3>Follow Us</h3>
                        <div class="divider divider-conch"></div>
                        <ul class="inline-list inline-list-xs">
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="https://www.facebook.com/profile.php?id=100095431091289&mibextid=ZbWKwL"></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-instagram" href="https://www.instagram.com/smartuse.jo?igsh=NTc4MTIwNjQ2YQ=="></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="https://www.youtube.com/channel/UCGGIbazUcR6FKqUtSdhJz_w"></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-linkedin" href="https://www.linkedin.com/company/smartusejo/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade text-center" id="modalWindow" role="dialog">
        <div class="modal-dialog custom-modal-dialog">
            <div class="custom-modal-content">
                <button class="close" type="button" data-dismiss="modal"></button>
                <div class="shell">
                    <div class="box-portfolio">
                        <img class="box-portfolio-image" src="images/barbers-single-1-130x130.jpg" alt="" width="130" height="130" />
                        <p class="box-portfolio-header">simon wilson</p>
                        <div class="box-portfolio-text">
                            <p>Simon Wilson founded Barbershop in 2003 at the age of 23. He decided to establish a place where the long standing traditions of American barbering could be saved. He kept Barbershop a true place for men, their fathers, and sons, rather than converting it to a unisex salon as was the popular trend at the time. Over the past 13 years, Mr. Wilson has grown his shop from a small, local spot to a nationally and internationally recognized standard in the industry. Simon has been the recipient of various accolades including the HYPE Award for Entrepreneurs and the Hartford Business Journal's 40 Under Forty (Class of 2014). He can be found at the shop on Wednesdays and Fridays.</p>
                        </div>
                        <ul class="inline-list inline-list-md">
                            <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                            <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    @*  <div id="js-preloader" class="js-preloader" style="background-image: url('images/bg-01.jpg'); background-size: 100%; opacity: revert; ">
    <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
    <span></span>
    <span></span>
    <span></span>
    </div>
    </div>
    </div> *@
</body>
</html>