<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/HeaderGymLogo2.png" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,700%7CArvo:400,700">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">


    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-woox-travel.css">
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>
<body>
    <div class="page">
        <header class="page-header">
            <div class="rd-navbar-wrap" style="flex-direction:row;display:flex; justify-content:center">
                <img class="rd-navbar-nav" src="images/GymLogo.png.png" alt="" style="max-width:200px ; max-height:200px; margin-top:-20px" />
                <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="true" data-md-stick-up-offset="140px" data-lg-stick-up-offset="140px">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" style="margin-top:6.5px;"><img src="images/menu.png" alt="" style="max-width:30px ; max-height:30px" /></button>
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="index.html">
                                    <div class="brand-mobile" style="width:200px; height:51px ;padding-top:6.5px">
                                        <img src="images/logo-default-dark-200x36.png" alt="" style="width:150px; height:38px" />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap" style="max-width:100% ; min-width:250px">
                            <div class="rd-navbar-nav-inner" style="max-width:100% ; min-width:250px">
                                <ul class="rd-navbar-nav">
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="index.html">Items</a>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="about.html">News</a>
                                    </li>
                                    <li style="min-width:100px;max-width:220px">
                                        <a href="#Dashboardsection">Dashboard</a>
                                    <li style="min-width:100px;max-width:220px">
                                        <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-user" style="font-size:25px; display:flex ; align-items:center ; justify-content:center"></a>
                                        <ul class="rd-navbar-dropdown" style="border:1.5px solid rgb(1,137,255,.5);  border-radius:0 20px 0 20px">
                                            <li>
                                                <p style="font-size: 16px ; color:#0189FF">superadmin@ss.com</p>
                                            </li>
                                            <li>
                                                <a href="#">Profile</a>
                                                <ul class="rd-navbar-dropdown" style="border:1.5px solid rgb(1,137,255,.5);  border-radius:0 20px 0 20px">
                                                    <li>
                                                        <a href="#">Edit Information</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Change password </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Change language</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Contract policies</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Notifications</a>
                                            </li>
                                            <li>
                                                <a href="#">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </header>
        <section class="section-xl bg-periglacial-blue text-center">
            <div id="slider-wrapper" style="border-radius:20px">
                <div class="inner-wrapper" style="border-radius:20px">
                    <input checked type="radio" name="slide" class="control" id="Slide1" />
                    <label for="Slide1" id="s1"></label>
                    <input type="radio" name="slide" class="control" id="Slide2" />
                    <label for="Slide2" id="s2"></label>
                    <input type="radio" name="slide" class="control" id="Slide3" />
                    <label for="Slide3" id="s3"></label>
                    <input type="radio" name="slide" class="control" id="Slide4" />
                    <label for="Slide4" id="s4"></label>
                    <div class="overflow-wrapper" style="border-radius:20px">
                        <a class="slide" href="" style="border-radius:20px">
                            <img src="~/Images/store.png" style="border-radius:20px" />
                            <img src="~/Images/store2.jpg" style="border-radius:20px" />
                            <img src="~/Images/store2.jpg" style="border-radius:20px" />
                            <img src="~/Images/store2.jpg" style="border-radius:20px" />
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <section class="section-xl bg-periglacial-blue text-center" id="Dashboardsection">
            <div class="shell">

                <div class="cell-xs-12">
                    <h2>Dashboard</h2>
                    <div class="p text-width-medium">
                        <p class="big">These statistics are the best way to learn more about your progress.</p>
                    </div>
                </div>
                <br />
                <br />
                <div class="item">
                    <div style="padding-left: 5%;padding-right:5%;">
                        <div style="max-width: 100%;">
                            <script src="https://code.highcharts.com/highcharts.js"></script>
                            <script src="https://code.highcharts.com/modules/exporting.js"></script>
                            <script src="https://code.highcharts.com/modules/export-data.js"></script>
                            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                            <figure class="highcharts-figure">
                                <div id="container2"></div>
                                <p class="highcharts-description">

                                </p>
                            </figure>
                            <script>
                                Highcharts.chart('container2', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Monthly sales through the Gym App'
                                    },
                                    xAxis: {
                                        type: 'category',
                                        labels: {
                                            autoRotation: [-45, -90],
                                            style: {
                                                fontSize: '13px',
                                                fontFamily: 'Verdana, sans-serif'
                                            }
                                        }
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'Sales (JD)'
                                        }
                                    },
                                    legend: {
                                        enabled: false
                                    },
                                    tooltip: {
                                        pointFormat: '<b>{point.y} JD</b>'
                                    },
                                    series: [{
                                        name: 'Population',
                                        colors: [
                                            '#9b20d9', '#9215ac', '#861ec9', '#7a17e6',
                                        ],
                                        colorByPoint: true,
                                        groupPadding: 0,
                                        borderRadius: 15,
                                        data: [
                                            ['Jan', 7],
                                            ['Feb', 11],
                                            ['Mar', 7],
                                            ['Apr', 22],
                                        ],
                                        dataLabels: {
                                            enabled: true,
                                            color: '#FFFFFF',
                                            inside: true,
                                            verticalAlign: 'top',
                                            format: '{point.y}<br/> JD', // one decimal
                                            y: 10, // 10 pixels down from the top
                                            style: {
                                                fontSize: '13px',
                                                fontFamily: 'Verdana, sans-serif'
                                            }
                                        }

                                    }]
                                });

                            </script>



                        </div>
                    </div>
                </div>
                <br />
                <div class="divider divider-conch"></div>
                <br />
                <br />
                <div class="item">
                    <div style="padding-left: 5%;padding-right:5%;">
                        <div style="max-width: 100%;">
                            <script src="https://code.highcharts.com/highcharts.js"></script>
                            <script src="https://code.highcharts.com/modules/variwide.js"></script>
                            <script src="https://code.highcharts.com/modules/exporting.js"></script>
                            <script src="https://code.highcharts.com/modules/export-data.js"></script>
                            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                            <figure class="highcharts-figure">
                                <div id="container3"></div>
                                <p class="highcharts-description">

                                </p>
                            </figure>
                            <script>
                                Highcharts.chart('container3', {

                                    chart: {
                                        type: 'variwide'
                                    },

                                    title: {
                                        text: 'The top 10 gyms whose members buy my products'
                                    },
                                    xAxis: {
                                        type: 'category'
                                    },
                                    legend: {
                                        enabled: false
                                    },

                                    series: [{
                                        name: 'Orders',
                                        data: [
                                            ['Gym1', 50, 335504],
                                            ['Gym2', 42, 277339],
                                            ['Gym3', 39, 421611],
                                            ['Gym4', 14, 462057],
                                            ['Gym5', 25, 462057],
                                            ['Gym6', 47, 462057],
                                            ['Gym7', 57, 462057],
                                            ['Gym8', 68, 462057],
                                            ['Gym9', 101, 462057],
                                            ['Gym10', 144, 462057],
                                        ],
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.y}'
                                        },
                                        tooltip: {
                                            pointFormat: '<b>{point.y}</b> Orders<br>'
                                        },
                                        borderRadius: 15,
                                        colorByPoint: true
                                    }]

                                });

                            </script>



                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="divider divider-conch"></div>
                <br />
                <br />
            </div>
        </section>
        <footer class="page-footer page-footer-variant-3">
            <div class="shell">
                <div class="range range-50">
                    <div class="cell-sm-6 cell-md-4">
                        <h3>Pages</h3>
                        <div class="divider divider-conch"></div>
                        <ul class="footer-navigation row footer-navigation-vertical" style="max-width: 390px;">
                            <li class="col-xs-6"><a href="index.html">Items</a></li>
                            <li class="col-xs-6"><a href="blog.html">News</a></li>
                            <li class="col-xs-6"><a href="#Dashboardsection">Dashboard</a></li>
                        </ul>
                    </div>
                    <div class="cell-sm-6 cell-md-5">
                        <h3>Description</h3>
                        <div class="divider divider-conch"></div>
                        <div class="text-highlighted-wrap">
                            <p class="text-highlighted">Barbershop is a No.1 place to have a men’s haircut in San Francisco. Here you can get luxury barber experience at a reasonable price.</p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <h3>Follow Us</h3>
                        <div class="divider divider-conch"></div>
                        <ul class="inline-list inline-list-xs">
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="https://www.facebook.com/profile.php?id=100095431091289&mibextid=ZbWKwL"></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-instagram" href="https://www.instagram.com/smartuse.jo?igsh=NTc4MTIwNjQ2YQ=="></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="https://www.youtube.com/channel/UCGGIbazUcR6FKqUtSdhJz_w"></a></li>
                            <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-linkedin" href="https://www.linkedin.com/company/smartusejo/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade text-center" id="modalWindow" role="dialog">
        <div class="modal-dialog custom-modal-dialog">
            <div class="custom-modal-content">
                <button class="close" type="button" data-dismiss="modal"></button>
                <div class="shell">
                    <div class="box-portfolio">
                        <img class="box-portfolio-image" src="images/barbers-single-1-130x130.jpg" alt="" width="130" height="130" />
                        <p class="box-portfolio-header">simon wilson</p>
                        <div class="box-portfolio-text">
                            <p>Simon Wilson founded Barbershop in 2003 at the age of 23. He decided to establish a place where the long standing traditions of American barbering could be saved. He kept Barbershop a true place for men, their fathers, and sons, rather than converting it to a unisex salon as was the popular trend at the time. Over the past 13 years, Mr. Wilson has grown his shop from a small, local spot to a nationally and internationally recognized standard in the industry. Simon has been the recipient of various accolades including the HYPE Award for Entrepreneurs and the Hartford Business Journal's 40 Under Forty (Class of 2014). He can be found at the shop on Wednesdays and Fridays.</p>
                        </div>
                        <ul class="inline-list inline-list-md">
                            <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                            <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    @*  <div id="js-preloader" class="js-preloader" style="background-image: url('images/bg-01.jpg'); background-size: 100%; opacity: revert; ">
    <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
    <span></span>
    <span></span>
    <span></span>
    </div>
    </div>
    </div> *@
</body>
</html>
<style>

    #slider-wrapper {
        width: 940px;
        height: 470px;
        margin: 50px auto;
        position: relative;
        margin-bottom: 0px;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    #s1 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: -36px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

    #s2 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: -12px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

    #s3 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: 12px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

    #s4 {
        padding: 6px;
        background: #000000;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-left: 36px;
        border-radius: 20px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 999;
    }

        #s1:hover,
        #s2:hover,
        #s3:hover,
        #s4:hover {
            opacity: .50;
        }

    .inner-wrapper {
        width: 940px;
        height: 470px;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0px;
        overflow: hidden;
    }

    .control {
        display: none;
    }

    #Slide1:checked ~ .overflow-wrapper {
        margin-left: 0%;
    }

    #Slide2:checked ~ .overflow-wrapper {
        margin-left: -100%;
    }

    #Slide3:checked ~ .overflow-wrapper {
        margin-left: -200%;
    }

    #Slide4:checked ~ .overflow-wrapper {
        margin-left: -300%;
    }

    #Slide1:checked + #s1 {
        opacity: 1;
    }

    #Slide2:checked + #s2 {
        opacity: 1;
    }

    #Slide3:checked + #s3 {
        opacity: 1;
    }

    #Slide4:checked + #s4 {
        opacity: 1;
    }

    .overflow-wrapper {
        width: 400%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: hidden;
        z-index: 1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .slide img {
        width: 25%;
        float: left;
    }










    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 660px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }



    #container2 {
        height: 400px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }






    #container3 {
        height: 500px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 900px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

</style>