@*@using Newtonsoft;
@using Newtonsoft.Json

<div class="top-bar d-flex justify-content-between align-items-center pt-4 px-2">
    <div class="text-start ps-4">
        <p>Categories</p>
        <div>
            <a href="/">Home</a> <span> &rarr; </span>
            <a href="/Categories">Categories</a> <span> &rarr; </span>
            <a href="#">Create Category</a>
        </div>
    </div>
</div>
<div class="px-3 my-5 container">
    <div id="form"></div>
</div>
<script>

    $(() => {

        const formData = {
            NameEn: '',
        };

        const formWidget = $('#form').dxForm({
            formData,
            readOnly: false,
            colCount: 2,
            showColonAfterLabel: true,
            showValidationSummary: true,
            validationGroup: 'customerData',
            items: [
                {
                    itemType: 'group',
                    items: [
                        {
                            dataField: 'nameEn',
                            label: {
                                text: 'Name',
                            },
                            validationRules: [{
                                type: 'required',
                                message: 'Name is required',
                            }],
                        }
                    ],
                ]
        },
            {

            },
            {
                itemType: 'button',
                horizontalAlignment: 'left',
                buttonOptions: {
                    text: 'submit',
                    type: 'success',
                    onClick: function(e) {
                        var dxFormInstance = $("#form").dxForm("instance");
                        var validationResult = dxFormInstance.validate();

                        if (validationResult.isValid) {
                            $.ajax({
                                url: "/Categories/create",
                                type: "POST",
                                data: dxFormInstance.option("formData"),
                                success: function(data) {
                                    DevExpress.ui.notify({
                                        message: 'Category Created Successfully',
                                        position: {
                                            my: 'center top',
                                            at: 'center top',
                                        },
                                    }, 'success', 2000);

                                    setTimeout(function() {
                                        window.location = "/offer/index";
                                    }, 2000);

                                },
                                error: function(xhr, textStatus, errorThrown) {
                                    alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
                                }
                            });

                        }
                    }
                },
            }],
                                }).dxForm('instance');
                            });

</script>*@