<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" contet="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ProScan</title>
    <link href="/Images/fav.svg" rel="shortcut icon" type="image/x-icon" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous" />
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.material.teal.light.css" rel="stylesheet" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
          rel="stylesheet" />
    <link  href="/css/devextreme/bootstrap.css" />


    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
</head>
@using Microsoft.AspNetCore.Http
@{
    var Email = Context.Session.GetString("Email");
    var Role = Context.Session.GetString("Role");
}

<body class="container" style="background-color: #c14ecc">
    <nav class="navbar my-1">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/Images/Logo.jpg"
                    width="130"
                    height="130"
                    alt="ProScan"
       
                    />
            </a>
            <div class="notifications dropdown d-flex align-items-center">
@*                <button class="btn"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img src="/Images/notification.svg" alt="" />
                </button>
                <ul class="dropdown-menu dropdown-menu-start"
                    aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>*@
                <div class="user-profile container d-flex align-items-center justify-content-center ps-4 gap-3">
                    @* <a href="#"><img src="/Images/user.svg" alt="user" /></a>*@
                    <button class="btn"
                            type="button"
                            id="dropdownprofile"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <img src="/Images/user.svg" alt="" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start"
                        aria-labelledby="dropdownprofile">
                        <li><a class="dropdown-item" href="/user/profile">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="/user/logout">LogOut</a></li>
                    </ul>
                    <div class="user-text text-start my-2">
                        <p class="user-name"><a href="#">@Email</a></p>
                        <p class="user-role"><a href="#"> @Role</a></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-5">
        <div class="d-flex align-items-start" style="margin-bottom: 20px;">

            <div class="nav flex-column nav-pills bg-light"
                 style="--bs-bg-opacity: 0.7;width: 210px;"
                 id="v-pills-tab"
                 role="tablist"
                 aria-orientation="vertical">


                @if (Role == "SuperAdmin")
                {
                   @* <a class="nav-link" href="/Cities" style="height: 57px;">
                        <i class="fa-solid fa-map-marker fa-2x ileft"></i>
                        <p style=" margin-top: 13px;">Cities</p>
                    </a>
                    <a class="nav-link" href="/Categories" style="height: 57px;">
                        <i class="fa-solid fa-list fa-2x ileft"></i>
                        <p style=" margin-top: 13px;">Categories</p>
                    </a>
                  
                    <a class="nav-link" href="/Offers" style="height: 57px;">
                        <i class="fa-solid fa-solid fa-percent fa-2x ileft"></i>
                        <p style=" margin-top: 13px;">Offers</p>
                    </a>  
                    <a class="nav-link rounded-bottom" href="/user" style="height: 57px;">
                        <i class="fa-solid fa-user fa-2x ileft"></i>
                        <p style=" margin-top: 13px;">Users</p>
                    </a>*@

                }
                else if (Role == "Owner")
                {  
                   
                } 
            </div>
            <div class="tab-content container" id="v-pills-tabContent">
                <div class="tab-pane fade show active bg-light"
                     style="--bs-bg-opacity: 0.7;padding-bottom: 20px;"
                     id="v-pills-settings"
                     role="tabpanel"
                     aria-labelledby="v-pills-settings-tab">

                    @RenderBody()

                </div>
            </div>
        </div>
    </main>
    <footer class="container text-center bg-light py-3 mb-3">
        <p class="m-auto fw-bold">&copy; 2022 ProScan. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</body>

</html>